<a href="https://colab.research.google.com/github/pedroviana05/exercicios/blob/main/aula_2U3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#criando uma lista de valores
exemplo1 = [10, 20, 30, 40, 50]

#criando uma series a partir da lista
series1 = pd.Series(exemplo1)
print(series1)
print(exemplo1)

In [3]:
import pandas as pd

#criando um dicionario com pares chave-valor
Exemplo2 = {'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

#criando uma series a partir do dicionario
series2 = pd.Series(Exemplo2)
print(series2)
print(Exemplo2)

A    100
B    200
C    300
D    400
E    500
dtype: int64
{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

In [4]:
import pandas as pd
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
dfs = pd.read_html(url)
print(type(dfs))
print(len(dfs))

<class 'list'>
1

In [5]:
df_bancos = dfs[0]

In [6]:
print(df_bancos.shape)

(10, 7)

In [7]:
print(df_bancos.dtypes)

Bank Name               object
City                    object
State                   object
Cert                     int64
Aquiring Institution    object
Closing Date            object
Fund                     int64
dtype: object

In [ ]:
df_bancos.head()

In [10]:
import pandas as pd

#criar um dicionario com nomes e idades
dados = {'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
         'Idade': [25, 30, 35, 66, 22]
}
#criar uma série a partir do dicionario
serie_idades  = pd.Series(dados['Idade'], index=dados['Nome'])
#exibir a serie de idades
print("Série de idades:")
print(serie_idades)
#calcular a média das idades
media_idades = serie_idades.mean()
print("\nMédia das idades:", media_idades)

#

Série de idades:
Alice      25
Bob        30
Charlie    35
David      66
Eve        22
dtype: int64

Média das idades: 35.6