<a href="https://colab.research.google.com/github/pedroviana05/exercicios/blob/main/aula1_u3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

#1. conectar ao banco de dados (ou criar um novo)
#usando a função connect do modulo sqlite3 para se conectar a um bando de dados SQlite
#chamado 'exemplo.db'. Se o banco de dados não existir, ele sera criado automaticamente.
conn = sqlite3.connect('exemplo.db')

# 2. criar u, objeto cursor
#o cursor é usado para executar comandos SQL no bando de dados.
#ele atua como uma especia de ponteiro que percorre os resultados de consultas.
cursor = conn.cursor()

#3. definir o comando SQL para criar tabela
#define uma string create_table que contem um comando SQL para criar uma tabela chamada "produtos".
#esta tabela tera quatro colunas: id (chave primaria), nome (texto), preco (numero real) e estoque (numero interiO0.)
# o IF NOT EXISTS garante que a tabela so sera criada se ainda nao existir
create_table = """
CREATE TABLE IF NOT EXISTS Produtos (
  id INTEGER PRIMARY KEY,
  nome TEXT NOT NULL,
  preco REAL NOT NULL,
  estoque INTEGER
);
"""
#usa o metodo execute do objeto cursor para executar o comando SQL definido anteriormente e criar a tabela no banco de dados.
# 4. executar o comando SQL para criar a tabela
cursor.execute(create_table)


# confirmar as alterações (commit)
#apos a execução bem-sucedida do comando SQl, usa o método commit no objeto de conexão (conn) para confirmar as alterações no banco de dados.
#isso garante que as alterações sejam efetivamente aplicadas
conn.commit()

#6. fechar a conexão com o banco de dados
#finalmente, voce usa o metodo close no objeto de conexão para encerrar a conexão com o banco de dados.
#é uma pratica recomendada fechar a conexão apos a concluesão das operações, para liberar recursos e evitar possiveis problemas de concorrencia

In [ ]:
#adicionar produto
import sqlite3
#conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#dados do novo produto
novo_produto = ('Camiseta', 19.99, 50)
#comando SQL para inserir o novo produto na tabela
inserir_produto = "INSERT INTO Produtos (nome, preco, estoque) VALUES (?,?,?)"
#executando o comando SQL para inserção
cursor.execute(inserir_produto, novo_produto)
#confirmando as alterações
conn.commit()
#fechando a conexão
conn.close()

In [ ]:
#visiualizar produto
#conectando ao bando de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#comando SQL para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM Produtos"
#executando o comando SQL
cursor.execute(selecionar_produtos)
#obtendo todos os registros e exibindo-os
produtos = cursor.fetchall()
for produto in produtos:
  print(produto)
#fechando a conexão
conn.close()

(1, 'Camiseta', 19.99, 50)

In [ ]:
#atializar produto
import sqlite3
#conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursour = conn.cursor()
#novo preço e id do produto a ser atualizado
novo_preco = 24.99
produto_id = 1
#comando SQL para atualizar o preço do produto
atualizar_preco = "UPDATE Produtos SET preco = ? WHERE id = ?"
#executando o comando SQL para atualização
cursor.execute(atualizar_preco, (novo_preco, produto_id))
#confirmando as alterações
conn.commit()
#fechando a conexão
conn.close()

In [ ]:
import sqlite3
# Create(criacão da tabela e inserção de dados de exemplo)
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Contatos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT,
        email TEXT,
        telefone TEXT
    )
''')
dados_exemplo = [
    ('João', 'joao@email.com', '123-456-7890'),
    ('Maria', 'maria@email.com', '987-654-3210'),
    ('Pedro', 'pedro@email.com', '555-555-5555')
]
cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)
conn.commit()

#read (leitura e exibição dos contatos)
cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall()
print("Contatos:")
for contato in contatos:
  print(contatos)

  #update(atualização do numero de telefone do contato com id 2)
novo_telefone = '555-123-4567'
contato_id = 2
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()
# delete( exclusao do contato com id1)
contato_id_para_excluir = 1
cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))
conn.commit()
conn.close()